
# Placeholders for tests

## GetValidReff & GetDescription

### Version-level

urn:cts:greekLit:tlg0012.tlg001.fuPers:
	delivers data for GVR level=1, level=2

urn:cts:greekLit:tlg0012.tlg001.fuPers:1.2
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0012.tlg001.fuPers:12.5
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0012.tlg001.fuPers:2.5-2.6
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0012.tlg001.fuPers:12-14
	delivers data for GetPrevNextUrn
	

urn:cts:greekLit:tlg0012.tlg001.fuPers:12
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0085.tlg003.fuSyn:
	delivers data for GVR level=1
		
urn:cts:greekLit:tlg0011.tlg004.fu02:
    delivers data for GVR level=1
	delivers data for GetDescription

urn:cts:greekLit:tlg0011.tlg004.fu02:2
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0011.tlg004.fu02:2-5
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0527.tlg001.fu01:
	delivers data for GVR level=1, level=2
	delivers data for GetDescription


### Exemplar-level

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:
	delivers data for GVR level=1, level=2
	delivers data for GetDescription

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:2.2
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:2
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:3.1-4.6
	delivers data for GetPrevNextUrn

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:3-4
	delivers data for GetPrevNextUrn


## GetPassage

### Work-level

urn:cts:greekLit:tlg0012.tlg001:1.2
	delivers data for GetPassage, GetPassagePlus

### Version-level


urn:cts:greekLit:tlg0012.tlg001.fuPers:1.2
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0012.tlg001.fuPers:12.5
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0012.tlg001.fuPers:2.5-2.6
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0012.tlg001.fuPers:12-13
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0012.tlg001.fuPers:12
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02:2
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02:2-5
	delivers data for GetPassage, GetPassagePlus


### Exemplar-level

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:2.2
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:2
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:3.1-4.6
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:3-4
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:1-4
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:1.4-2
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:1-2.4
	delivers data for GetPassage, GetPassagePlus

urn:cts:greekLit:tlg0011.tlg004.fu02.tok:1.4-2

